---
layout: default
title: The Sinnarasa Trust
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">The Sinnarasa Trust</h1>
				<p class="editable">The Sinnarasa Trust was founded by the children of Anton Sinnarasa Philip. To honor our father by continuing his life-long projects and making them eternal ones.</p>
				<div class="button">
					<a href="#donate">Donate Now</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/appa-main.png" alt="Anton Sinnarasa Philip Profile Pictures">
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">Anton Sinnarasa Philip's Trust funds various projects and initiatives he started in his liftime.</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Refugees and Human Rights</h3>
			<p class="editable">Sinnarasa dedicated his life to protect the rights of all people</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">Language</h3>
			<p class="editable">Sinnarasa was steadfast in his mission for our Tamil people to preserve our language and identity.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Community</h3>
			<p class="editable">Sinnarasa funded projects to help the Tamil community in Sri Lanka, from paying for the fees of school children of underprivileged families in various villages </p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/appa-2.png" alt="Sinnarasa Speaking">
		</div>
		<div>
			<h2 class="editable">Our Promise</h2>

			<p class="editable">We promise to provide a full account of all the donations that have been recieved, and provide quarterly updates on the projects the funds have been allocated to, via email (to everyone who has subscribed to the newsletter, or has donated via eTransfer or PayPal) and on this website</p>
		</div>
	</div>
</div>

<div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">Our courage and determination was born of the dynamics of oppression. The community raised me up as a young man, it is my duty to raise them up in return.</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/young-appa.png" alt="Young Sinnarasa"></span>
				<span class="author editable"><strong>Anton Sinnarasa Philip</strong></span>
			</p>
		</div>
	</blockquote>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">Subscribe to our mailing list</h2>
		<p class="editable" style="text-align: center;">Sign up to stay updated with the projects we're funding and the impact Sinnarasa's Trust is making.</p>
		<form action="{{ site.newsletter_action }}" method="post">
			<input type="text" name="EMAIL" placeholder="Email">
			<input type="submit" value="Sign up"/>
		</form>
	</div>
</div>

<div class="container" id="donate">
	<h2 class="editable">Make a donation</h2>
	<div class="donate">
		{{ site.donation_embed }}
	</div>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">Updates</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts %}
				<div class="post">
					<div class="image" style="background-image: url({{ post.featured_image}})"></div>
					<div class="post-content">
						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
						<h3>{{ post.title }}</h3>

						{{ post.content }}
						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
